<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsup</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>All Chats!</h3>
    <form method="GET" action="/chats/New">
    <button >New Chat</button>
    <br><br>
</form>
    <% for(let chat of chats) { %>
    <div class="chat">
            <P>Form : <i> <%= chat.from %></i></P>
        <div class="msg">
            <P><%= chat.msg %> </P>
        </div>
        <P>Recevied by:<i> <%= chat.to %></i></P>
        <hr/>
        <br><br>
    </div>
<% } %>

</body>
</html>
