<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wirte new chat..</title>
</head>
<body><h3>wite new chat...</h3>
    <form method="POST" action="/chats">
            <input placeholder="who are you" name="from">
            <br><br>
            <textarea name="msg">wirte msg here.....</textarea>
            <br><br>
            <input placeholder="add recevier" name="to">
            <br><br>
            <button> create chat</button>

    </form>
    
</body>
</html>