.h3{
    color: wheat;
}

body{
    margin-left: 40px;
    background: black;
}
.chat{
    background-color:aqua;
    padding: 10px 100px;
    border-radius: 20px;
    display: inline;
    color: wheat;
}
.msg{
    background-color: dodgerblue;
    color: white;
    padding: 15px 15px;
    border-radius: 20px;
}
