body{
    margin-left: 10px;
   
}
.chat{
    background-color:lightblue;
    padding: 10px 100px;
    border-radius: 20px;
    display: inline-block;
    color: wheat;
}
.msg{
    background-color: dodgerblue;
    padding: 10px ;
    border-radius: 20px;
    color: white;
    
}
