body{
    margin-left: 20px;
}
.chat{
    background-color:rgb(36, 111, 176);
    padding: 20px;
    border-radius: 16px;
    display: inline;
}
.msg{
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
}
